{% extends "../templates/main-layout.njk" %}

{% block content %}
<div class="dynamic-landing-page" >
  <a class="generic-btn generic-btn--back-link" href="index.html">Back</a>

  <time class="dynamic-landing-page__time">12:17:04 PM</time>
  <h1 class="dynamic-landing-page__greeting">Good Afternoon</h1>
  <h1 class="dynamic-landing-page__name" contenteditable="true">John</h1>

  <h2 class="dynamic-landing-page__question">What Is Your Focus For Today?</h2>
  <h2 class="dynamic-landing-page__focus" contenteditable="true">Make Cool Videos</h2>

</div>
{% endblock %}