{% extends "../templates/main-layout.njk" %}
{% import "../templates/nav/nav-macro.njk" as nav %}
{% set items = smooth_scroll_nav.items %}

{% block content %}
  <div class="smooth-scrolling-page">
    <a class="generic-btn generic-btn--back-link" href="index.html">Back</a>
      {{ nav.renderNav(items, "smooth-scrolling-page") }}

    <div class="smooth-scrolling-page__container">

      <section class="smooth-scrolling-page__section" id="smooth_scrolling_home">
        <h1>Welcome To My Site</h1>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
        </p>
      </section>
      <section class="smooth-scrolling-page__section" id="smooth_scrolling_about">
        <h1>About</h1>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
        </p>
      </section>
      <section class="smooth-scrolling-page__section" id="smooth_scrolling_service">
        <h1>Service</h1>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
        </p>
      </section>
      <section class="smooth-scrolling-page__section" id="smooth_scrolling_contact">
        <h1>Contact</h1>
        <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna"
        </p>
      </section>

    </div>
  </div>
{% endblock %}